node_modules/
.env.local
.next/
.DS_Store

.env

# Terraform
deploy/terraform/environments/*/.terraform/
deploy/terraform/environments/*/.terraform.lock.hcl
deploy/terraform/environments/*/terraform.tfstate*
